*{
    margin: 0;
    padding: 0;
}
#navbar{
    background-color: rgb(39, 39, 158);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    height: 70px;
    
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 1.5rem;
    padding: 10px;
    border: 1px solid transparent;
    display: block;
    box-sizing: border-box;
    border-radius: 0px 20px 0px 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    margin-left: 40px;
    transition: transform 0.5s ease-in-out;
}
#navbar ul li:hover{
    background-color: white;
    border: 1px solid blue;
    border-radius: 20px 0px 20px 0px; 
    transform: scale(1.0);
    transition: transform 0.9s ease-in-out; 
}
#search{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin-left: 10px;
    width: 450px; 
    max-width: 30%;
    transition: width 0.3s ease-in-out; 
}
#search input{
    border:none;
    outline: none;
    flex-grow: 1;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
}
#logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: teal;
    border: 3px solid gold;
    transition: 0.8s;
}
#logo:hover{
    border-style: dashed;
    border-width: 6px;
}